.header {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  max-height: 110px;
  width: auto;
  margin-left: 180px;
  padding-right: 10px;
}

.header-content {
  text-align: left;
}

.header-content h1 {
  font-size: 2rem;
  margin: 0;
  color: #294a70;
  font-family: "Helvetica Neue";
  text-shadow: 1px 1px 1px #000;
}

.header-content h3,
.header-content h4 {
  font-size: 1.2rem;
  margin: 5px 0 0;
  color: #000;
}

.header-right {
  margin-left: auto;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .header-left {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-logo {
    margin-left: 0;
    padding-right: 0;
  }

  .header-content h1 {
    font-size: 1.5rem;
  }

  .header-content h3,
  .header-content h4 {
    font-size: 1rem;
  }

  .header-right {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .header-content h1 {
    font-size: 1.2rem;
  }

  .header-content h3,
  .header-content h4 {
    font-size: 0.9rem;
  }

  .header-right {
    margin-top: 5px;
  }
}

@media (max-width: 480px) {
  .header-content h1 {
    font-size: 1rem;
  }

  .header-content h3,
  .header-content h4 {
    font-size: 0.8rem;
  }
}
