.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 10px 15px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  border-right: none;
  outline: none;
  width: 200px; /* Adjust the width as needed */
}

.search-bar button {
  padding: 10px 20px;
  font-size: 1em;
  border: 1px solid #007bff;
  border-radius: 0 20px 20px 0;
  background-color: #294a70; /* Match the button color */
  color: white;
  cursor: pointer;
  border-left: none;
  outline: none;
}

.search-bar button:hover {
  background-color:orange; /* Darken the button on hover */
}
